body {
  	/*-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	overflow-x:hidden;
  	overflow-y:scroll;*/
	
    background: none;
	width: 480px;
}

div#content {
	position: relative;
	margin:auto;
	
	width: 95%;
	max-width: 480px;
}
/*end general*/


header {
	left: 0px;
	z-index: 100;
	background-color: #1C1C1C;
	padding-top: 10px;
	padding-bottom: 20px;
	
	position: relative;
	width: 100%;
	max-width: auto;
}

	div#logo {
		float:left;
		font-weight: 700;
		
	}

		div#logo span.main {
			font: 37px/1.4em "Jura","sans-serif";
			color: #999999;
		}
		
		div#logo span.slogan {
			font: 19px/1.4em "Play","sans-serif";
			color: #FFFFFF;
			
			display: block;
		}
	
	div#mainmenu {
		float: right;
	}
	
		div#mainmenuitem {
			margin: 20px 4px;
			border-top: 1px solid #FFFFFF;
			cursor: pointer;
			font-size: 12px;
			color: #999999;
			font: 12px "Play","sans-serif";
			color: #FFFFFF;
			
			width: none;
			max-width: none;
			display: block;
		}
		
		div#mainmenuitem:hover {
			border-top: 4px solid #FFFFFF;
			color: #FFBB00;
			
			max-height: none;
		}

			div#mainmenuitem span.label {
				font: bold 12px/1.1em;
				padding-left: 10px;
			}
	/*end mainmenu*/

	div#sharemenu {
		
		display: none;
	}
	/*end sharemenu*/
/*end header*/
	

submenu {
	left: auto;
	position: relative;
	bottom: auto;
	background-color: #1C1C1C;
	
	width: 100%;
	max-width: 480px;
}

	div#submenuitem {
		float:left;
		text-align: center;
		display:none;
		
		width: none;
		max-width: none;
		min-width: none;
	}

		div#submenuitem div#image {
			left: auto;
			margin-left: -40px;
			position: relative;
			top: 20px;
			
			width: none;
			min-height: none;
		}

			div#submenuitem div#image span.icon {
				position:absolute;
				top: 30px;
				left: 30px;
				color: #FFFFFF;
				font-size: 20px;
			}

		div#submenuitem:hover {
			background-color: #333;
			cursor:pointer;
		}

			div#submenuitem div#headline {
				font: bold 20px/1.3em "Helvetica","Arial","sans-serif";
				color: #FFFFFF;
				padding-top: 40px;
				padding-bottom: 12px;
			}

			div#submenuitem div#description {
				font: 12px/1.3em "Helvetica","Arial","sans-serif";
				color: #999999;
				padding-bottom: 20px;
				text-align:justify;
				-webkit-hyphens: auto;
				-moz-hyphens: auto;
				-ms-hyphens: auto;
				hyphens: auto;
				padding-right: 10px;
				padding-left: 10px
			}


			div#submenuitem div#description.last {
				padding-right: 10px;
			}
/*end submenu*/


footer {
	left: 0px;
	bottom: 0px;
	z-index: 100;
	background-color: #1C1C1C;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #999999;
	font: 12px/1.3em "Jura","sans-serif";
	
	position: absolute;
	width: 100%;
	max-width: 480px;
}

	footer span.copyright {
		float:left;
	}
	footer span.legal {
		float: right;
	}
/*end footer*/