body {
    background: url("http://static.wix.com/media/41d000_d552a933cd4c566cfd9fa7311e51bbc6.jpg_crp_0_0_1280_800_1280_800_crp") no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	overflow-x:hidden;
  	overflow: ;
}

div#content {
	position: relative;
	width: 95%;
	max-width: 1024px;
	margin:auto;
}
/*end general*/

	
		div#logo span.main {
			display: inline;
		}
		
		div#logo span.slogan {
			padding-left: 20px;
		}
	/*end logo*/

	div#mainmenu {
		margin-top: 30px;
		height: 50px;
		width: 660px;
	}
	
		div#mainmenuitem {
			padding-top: 20px;
			/*padding-bottom: 10px;*/
		}
		
			div#mainmenuitem span.label {
				margin-top: 45px;
			}
	/*end mainmenu*/

	div#sharemenu {
		cursor: pointer;
		width: 35px;
		position: absolute;
		top: 5px;
		right: 5px;
	}
	
		div#sharemenu div {
			padding-top: 20px;
			padding-left: 15px;
			float:left;
			cursor:pointer;
			color: #FFFFFF;
			float: left;
			color: #999999;
		}
	
		div#sharemenu div.fb:hover {
			color: #3B5998;
		}
		
		div#sharemenu div.twitter:hover {
			color: #60D7FF;
		}
		
		div#sharemenu div.gplus:hover {
			color: #D34836;
		}
	/*end sharemenu*/
/*end header*/


submenu {	
	position: fixed;
	bottom: 20px;
}
/*end submenu*/

footer {
	display: none;
}
/*end footer*/












