body {
    background: url("http://static.wix.com/media/41d000_d552a933cd4c566cfd9fa7311e51bbc6.jpg_crp_0_0_1280_800_1280_800_crp") no-repeat center center fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	overflow-x:hidden;
  	overflow-y:scroll;
	width: 99%;
}

div#content {
	position: relative;
	width: 95%;
	max-width: 1024px;
	margin:auto;
}
/*end general*/


header {
	left: 0px;
	top: 0px;
	position: absolute;
	z-index: auto;
	background-color: #1C1C1C;
	width: 100%;
	max-width:100%;
	padding: 0px;
	display: block;
}

	div#logo {
		float: none;
		font-weight: 700;
		width: 100%;
		display: block;
		zoom: 270%;
		text-align: center;
	}

		div#logo span.main {
			font: 37px/1.4em "Jura","sans-serif";
			color: #999999;
			display: block;
		}
		
		div#logo span.slogan {
			font: 19px/1.4em "Play","sans-serif";
			color: #FFFFFF;
			display: block;
		}
	/*end logo*/
	
	div#mainmenu {
		float: none;
		margin: 20px auto 10px auto;
		width: auto;
		zoom: 270%;
		text-align: center;
	}
	
		div#mainmenuitem {
			margin: 5px 4px;
			border-top: 0.5px solid #FFFFFF;
			cursor: pointer;
			width: auto;
			max-width: 100%;
			float: none;
			font-size: 12px;
			font: 12px "Play","sans-serif";
			color: #FFFFFF;
			display: inline;
			zoom: 140%;
		}
		
		div#mainmenuitem:hover {
			border-top: 1px solid #FFFFFF;
			max-height: 100%;
			color: #FFFFFF;
		}

			div#mainmenuitem span.label {
				font: bold 12px/1.1em;
				padding: 0 10px 0 10px;
			}
	/*end mainmenu*/
	
	div#sharemenu {
		display: none;
	}
	/*end sharemenu*/
/*end header*/
	

submenu {
	left: 0px;
	position: relative;
	top: 400px;
	background-color: transparent;
	width: 100%;
	max-width:100%;
	display: block;
}

	div#submenuitem {
		float:none;
		width: 100%;
		max-width: 100%;
		text-align: inherit;
		min-width: 220px;
		display: none;
		padding-bottom: 20px;
		margin-bottom: 10px;
		background-color: #1C1C1C;
		max-height: 380px;
	}

		div#submenuitem div#image {
			left: 20px;
			top: 50%;
			margin-left: 0;
			height: 80px;
			min-height: 80px;
			position: relative;
			top: 20px;
			width: 100px;
			float: left;
			zoom: 230%;
			margin-top: 30px;
		}

			div#submenuitem div#image span.icon {
				position:absolute;
				top: 30px;
				left: 30px;
				color: #FFFFFF;
				font-size: 20px;
			}

		div#submenuitem:hover {
			background-color: #333;
			cursor:pointer;
		}

			div#submenuitem div#headline {
				font: bold 20px/1.3em "Helvetica","Arial","sans-serif";
				color: #FFFFFF;
				padding-top: 11px;
				padding-bottom: 12px;
				padding-left: 10px;
				margin-left: 130px;
				zoom: 200%;
			}

			div#submenuitem div#description {
				font: 14px/1.3em "Helvetica","Arial","sans-serif";
				color: #999999;
				padding-bottom: 20px;
				text-align:justify;
				-webkit-hyphens: auto;
				-moz-hyphens: auto;
				-ms-hyphens: auto;
				hyphens: auto;
				padding-right: 20px;
				padding-left: 10px;
				zoom: 200%;
				display: block;
				margin-left: 130px;
			}


			div#submenuitem div#description.last {
				padding-right: 10px;
			}
/*end submenu*/


footer {
	left: 0px;
	position: fixed;
	bottom: 0;
	z-index: auto;
	background-color: #1C1C1C;
	width: 100%;
	max-width:100%;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #999999;
	font: 12px/1.3em "Jura","sans-serif";
	display: none;
}

	footer span.copyright {
		float:left;
	}
	footer span.legal {
		float: right;
	}
/*end footer*/